* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* COLORS */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* FONTS */
  --font-family: 'Open Sans', sans-serif;
  --font-family-b: 'Baloo 2', sans-serif;
  --font-family-l: 'Leckerli One', cursive;

  --logo: 400 2.5rem/100% var(--font-family-l);

  --heading-md: 700 1.75rem/100% var(--font-family-b);
  --heading-sm: 700 1.125rem/100% var(--font-family-b);

  --body-md: 400 1rem/100% var(--font-family);
  --body-sm: 400 0.875rem/100% var(--font-family);
  --body-xs: 400 0.75rem/100% var(--font-family);
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
}

body a {
  text-decoration: none;
  color: var(--brand-light);
}
